@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Caprasimo", cursive;
}

h1 {
  overflow: hidden;
  margin: 0 auto;
  display: inline-block;
  font-weight: normal;
}
h1:after {
  content: "";
  display: inline-block;
  background-color: white;
  margin-left: 2px;
  height: 60px;
  width: 4px;
  animation: cursor 0.4s infinite;
}

/* The typewriter cursor effect */
@keyframes cursor {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
